<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Codeo Admin</title>
  </head>
  <body>
    <form action="/note/confirm-update" method="POST">
      <input
        type="text"
        placeholder="Question"
        name="Question"
        value="{{{Question}}}"
      />
      <input
        type="text"
        placeholder="Choice1"
        name="Choice1"
        value="{{{Choice1}}}"
      />
      <input
        type="text"
        placeholder="Choice2"
        name="Choice2"
        value="{{{Choice2}}}"
      />
      <input
        type="text"
        placeholder="Choice3"
        name="Choice3"
        value="{{{Choice3}}}"
      />
      <input
        type="text"
        placeholder="Answer"
        name="Answer"
        value="{{{Answer}}}"
      />
      <input type="hidden" name="id" value="{{{_id}}}" />
      <p>id: {{{_id}}}</p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>